.qq{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
    flex-wrap: wrap;
}
.q1{
    width: 40vw;
    min-width: 400px;
}

.lm{
    margin-top: 20px;
}
.mv{
    display: flex;
    justify-content: space-around;
}
.gh{
    display: flex;
    justify-content: space-between;
}
.vv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.lms{
    height: 30px;
    width: 300px;
}
.hj{
    width: 30px;
    margin-left: 50px;
}